
*{
  transition: 0.5s; 
}




.dedicatedinfo{
  margin-top: 10rem;
  padding: 5px;

}


.specs{
  color: #c0c0c0;
  border-radius: 5px;
  box-shadow: 0 0 20px #141414;
  background-color: #171719;
  padding: 15px;
}


.specs:hover{
  background-color: #1c1c1f;
  border: color #1c1c1f solid 5px;
}

.specs h5, .specs h3{
  text-align: center;
  color: #c0c0c0;
}



.dedicated{
  width: 40%;
  background: linear-gradient(to right bottom, #171719 50%, #141416 50%);
  box-shadow: 0 0 20px #141414;
  border-radius: 5px;
  border-left-color: #007acc;
  border-left-style: solid;
  border-left-width: 5px;
  padding: 15px;
  color: #bebebe;
  margin: 1rem;

}

.dedicated:hover{
  transform: scale(1.1);
}

.dedicated h3{
  color: white;
}


.button{
  margin-top: 2rem;
  background-color: #1078bd;
  text-align: center;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  color: white;
}



.button:hover{
  transform: scale(1.05);
  background-color: #0c4a74;
}







.products{
  margin-top: 5rem;
 display: grid;
}


.vps{
  -moz-user-select: none;
  -ms-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none; 
-webkit-touch-callout: none; 
  border-left-color: #007acc;
  border-left-style: solid;
  border-left-width: 5px;
  float: left;
  display: flex;
  margin-bottom: 2rem;
  border-radius: 5px;
  padding: 20px;
  font-size: large;
  color: rgb(218, 218, 218);
  box-shadow: 0 0 20px #141414;
  background: linear-gradient(to bottom, #171719 50%,  #141416 50%);

}



.vps:hover{
  transform: scale(1.1);
}


.name, .ram, .storage, .upload, .price{
  padding: 0px 50px 0px 50px;
  white-space: nowrap;
}








@media screen and (max-width: 1100px) {

  .name, .ram, .storage, .upload, .price{
    padding: 0px 20px 0px 20px;
  }
.products{
  width: 80%;
}

}

@media screen and (max-width: 785px) {

  .name, .ram, .storage, .upload, .price{
    padding: 0px 10px 0px 20px;
  }
.products{
  width: 80%;
}

.vps{
  float: left;
  display: block;
}
}


@media screen and (max-width: 450px) {
  .dedicatedinfo{
    display: grid;
  }

  .specs{
    margin-bottom: 2rem;
  }
  .dedicated{
    width: 100%;
  }
}
